:root {
    --primary:#01bc9a;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 0.7rem;
    color: #fff;
    cursor: pointer;
    margin-right: -24px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--primary);
}

.btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
}


/* .Rectngulo-36 {
    width: 102px;
    height: 37px;
    margin: 3px 0 2px 25px;
    padding: 8px 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--green);
  }
  */