.dropdown-menu {
    width: 150px;
    position: absolute;
    top: 65px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background:  #5cabff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
} 

.dropdown-menu li:hover {
    background: black;
}


.dropdown-menu.clcked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff ;
    padding: 16px;
}