.slides {
    margin: 0 auto;
}

#btns-learn {
    margin: 0% auto;
    display: flex;
    justify-content: center;
}

.swiperContainer {
    height: 100%;
    position: flex;
    align-items: center;
}
