.container {
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #2c8854;
    border: solid #1a6e3e 1px;
    border-radius: 5px;
    padding-top: 40px;
}

#contact input {
    width: 250px;
    background-color: white;
    border-radius: 3px;
}

#contact {
    margin-top: -60px;
    margin-bottom: 20px;
}

.form-disclaimer {
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;

    font-weight: 100;
}
