* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting,
.login {
    display: flex;
    height: 98vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

section { 
    height: 100vh;
    width: 100%;
    position: relative;
    top: -65px;
}

#s0 {
    background-image: url("./Components/img/paisaje.jpg");
    background-position: center;
    background-size: cover;
}

#s1 {
    background-color: brown;
}

#s2 {
    background-color: chartreuse;
}

#s3 {
    background-color: darkgoldenrod;
}