html,body
{
  /*Colors*/
  --blue: #225aff;
  --blue-dark: #091447;
  --grey-light: #f6f6fb;
  --black: #2e2e36;
  --green: #01bc9a;
  --accent-dark: #b5c8ff;
  --accent: #ffcf3b;

  /*Typography*/
 
    --h1-size:60px;
    --h2-size:50px;
    --title-size: 40px;
    --paragraph-size: 20px;
    --body-size:18px;
    --type-button:16px;
    --type-placeholder:14px;

    --h-weight: 800;
    --subh-weight:500;
    
}